{% extends 'base.html.twig' %}

{% block title %}My Account{% endblock %}

{% block body %}
    <h2>Your account</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td><a href="#">Details</a></td>
            </tr>
        </tbody>
    </table>

{% endblock %}
