{% extends 'base.html.twig' %}

{% block title %}Admin | Users{% endblock %}

{% block body %}
    <h2>Users</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td><a href="{{ path('admin_user_details', { 'id': user.id }) }}">Details</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
