{% extends 'base.html.twig' %}

{% block title %}Admin | Tournament create/edit{% endblock %}

{% block body %}
    <h2>Create/edit tournament</h2>

    {{ form_start(form) }}
        <div class="row">
            <div class="col-lg-8">
                {{ form_row(form.name) }}
                {{ form_row(form.gametype) }}
                {{ form_row(form.priceMoney) }}
                {{ form_row(form.maximumMembers) }}
                {{ form_row(form.startTime) }}
                {{ form_row(form.tables) }}
            </div>
            <div class="col-lg-4">
                {{ form_row(form.visitors) }}
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    {{ form_end(form) }}
{% endblock %}
