{% extends 'base.html.twig' %}

{% block title %}Admin | Game type details{% endblock %}

{% block body %}
    <h2>Game type details</h2>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>ID:</th>
                <td>{{ gametype.id }}</td>
            </tr>
            <tr>
                <th>Name:</th>
                <td>{{ gametype.name }}</td>
            </tr>
            <tr>
                <th>Rules:</th>
                <td>{{ gametype.rules }}</td>
            </tr>
            <tr>
                <th>Email:</th>
                <td>{{ gametype.minRatingForMasterclass }}</td>
            </tr>
        </tbody>
    </table>

    <div class="button-group">
        <a href="{{ path('admin_game_type_edit', { 'id': gametype.id }) }}" class="btn btn-warning">Edit</a>
        <a href="{{ path('admin_game_type_delete_confirm', { 'id': gametype.id }) }}" class="btn btn-danger">Delete</a>
    </div>

{% endblock %}
